#main {
    border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 195, 195);
  width: 80vw;
  height: 70vh;
  margin-left: 10vw;
}

#target {
    border: 0;
    font-size: 16px;
    margin: 6px 0 6px 12px;
}

#message {
    border: 0;
    height: 102px;
    width: calc(80vw - 4px);
    resize: none;
    font-size: 16px;
}

#main-body {
    height: calc(70vh - 140px);
    overflow: scroll;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(195, 195, 195);
    border-image: initial;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(195, 195, 195);
}